.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}

.chat-message-input {
  margin-right: 10px;
  border-radius: 10px;
  border-width: 1px;
  padding: 12px 15px;

  font-size: 15px;

  max-width: 600px;
  flex-grow: 1;
}

.send-message-button {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  font-size: 15px;
}